node_modules/
dist/
.env
.DS_Store
.vscode/
# --- secretos y archivos sensibles ---
.env
.env.*
*.pem
*.p12
*.jks
*.keystore

# Supabase (archivos temporales)
supabase/.temp/
supabase/.branches/

# Firebase (si los tienes, mejor no subirlos)
android/app/google-services.json
ios/GoogleService-Info.plist
